<h5>Teams</h5>
<hr>
<div class="card shadow-sm">
	<div class="table-responsive">
		<table class="table table-bordered mb-0">
			<thead class="bg-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Team</th>
					<th scope="col">Logo</th>
					
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let t of teams">
					<td>
						{{t.id}}
					</td>
					<td>{{t.team_name.toUpperCase()}}</td>
					<td><img src={{t.team_logo}}  width="50"/></td>
					<td><a routerLink="/player/{{t.id}}">View</a></td>
				</tr>

			</tbody>
			
		</table>
	</div>
</div>
